.buttonSubmit {
  display        : flex;
  justify-content: center;
}

.loadingDiv {
  display        : flex;
  justify-content: center;
  align-items    : center;

  height: 400px;
}

.buttonDelete {
  cursor: pointer;
}