.headerTable {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
  
    width: 100%;
  }
  
  .editIcon {
    cursor: pointer;
  }
  .logoEdit {
    width          : 100%;
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
  }
  .text {
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
 }