.headerTable {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
  
    width: 100%;
  }
  
  .editIcon {
    cursor: pointer;
  }
  .logoEdit {
    width          : 100%;
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
  }