.groupButton {
  display: flex;
  gap    : 10px;
}

.header {
  display        : flex;
  justify-content: space-between;
}

.upload {
  height        : 200px;
  display       : flex;
  flex-direction: column;
  align-items   : center;
  justify-content: center;
}