.headerTable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.editIcon {
  cursor: pointer;
}

.rowDisable {
  background-color: #f5f5f5;
  color: rgb(158, 158, 158);
  /* pointer-events: none; */

}
.loading {
  height         : 250px;
  display        : flex;
  justify-content: center;
  align-items    : baseline;
}




