.logo {
  width: 160px;
  height: 160px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10em;
  background-color: rgb(238, 238, 238);
}

.loading {
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contantLogo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconInformation {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
  padding: 0;
  margin: 0;
}
.iconAddress {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  column-gap: 15px;
}
.avatar {
  border-radius: 10em;
}

.avatarMini {
  width: 70%;
}
.groupButton {
  display: flex;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}
.statusStudent {
  padding: 0 0 5px 0;
  margin: 0;
}
