.main {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  height         : 100vh;
  width          : 100vw;

  background-color: rgb(244, 244, 248);
}

.contain {
  width : 100%;
  height: 100%;
}

.images {
  width : 100%;
  height: 100%;

  object-fit: contain;
}

.form {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  height         : 100%;
  width          : 100%;
}

.language {
  position: fixed;
  bottom  : 20px;
  right   : 20px;

  width : 36px;
  height: 36px;
}

.language>img {
  width : 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 50%;

  cursor: pointer;
}

.formInside {
  width: 310px;
}