.logo {
  width : 160px;
  height: 160px;

  display        : flex;
  justify-content: center;
  align-items    : center;

  border-radius   : 10em;
  background-color: rgb(224, 224, 224);
}

.loading {
  height         : 450px;
  width          : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.contantLogo {
  width         : 100%;
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.iconInformation {
  width          : 100%;
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: flex-start;
  column-gap     : 15px;
}

.avatar {
  border-radius: 100em;
  width        : 100%;
  height       : 100%;
  object-fit   : cover;
}